@import '../themes/theme';
@import '../mixins/width.scss';

.title {
  width: 90%;
  color: $bg-d;
  text-align: justify;
  margin: 1.4rem 0 0.2rem 0.3rem;
  font-size: 2.5rem;
}
.subheader {
  width: 90%;
  color: $secondary;
  text-align: justify;
  margin: 0 0 0.3rem 0.3rem;
  font-weight: bold;
}
.container {
  background-color: $bg-d;
  margin: 1rem;
  padding: 1rem;
  width: 90vw;
  color: $bg-d;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  .pre {
    width: 100%;
    background-color: $bg-d;
    color: white;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}
